@import 'tailwindcss';
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

.cm-sql-statement-highlight {
  background-color: rgba(59, 130, 246, 0.1);
  height: 19px;
  display: inline-block;
  padding: 0 3px;
}

.cm-sql-statement-highlight-bg {
  background-color: aliceblue;
}
